<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	
	<style>
		table {
		  margin-top: 50px;
		}
		.centered {
		  position: fixed;
		  left: 50%;
		  margin-top: 150px;
		  /* bring your own prefixes */
		  transform: translate(-50%, -50%);
		}
	</style>

</head>
<body>
	<div class="position-relative" style="margin-top: 10px">
		<div class="position-absolute top-0 start-50 translate-middle-x">
		  <form method="POST" action="/">     
		      <label style="margin-right: 5px">Message: </label><input name="message" type="text" value="" />
		      <input type="submit" value="Submit" class="btn btn-outline-primary" />
		  </form>
			<table class="table">
			  <tr>
			    <th>Message</th>
			    <th>Sentiment</th>
			    <th>Weight</th>
			    <th></th>
			  </tr>
			  {{ range $index, $element := .Sentiments }}
			    <tr>
			 	  <td>{{$element.Message}}</td>
			 	  <td>{{if eq $element.Score "POSITIVE"}}
			 	  		<span>&#128175;</span>
			 	  	  {{else if eq $element.Score "NEGATIVE"}}
			 	  	  	<span>&#128577;</span>
			 	  	  {{else}}
			 	  	  	<span>&#128566;</span>
			 	  	  {{end}}
			 	  	  {{$element.Score}}
			 	  </td>
			 	  <td>{{$element.Weight}}</td>
			 	  <td>
			 	  	<form method="POST" action="/delete">
			 	  		<button name="delete" type="submit" value="{{ $index }}" class="btn btn-danger">DELETE</button>
				  </form>
			 	  </td>
			 	</tr>
			  {{end}}
			</table>
		   </div>
		</div>
		
	</div>
</body>
</html>